.contact-info-ul .fas {
  margin-right: 15px;
}

.contact-info-ul .fa-map-marker-alt {
  width: 24px;
  text-align: center;
}

.contact-info-ul .contact-info {
  font-size: 1.5em;
}

#contact-message {
  min-height: 200px;
}

