.footer-dark {
  background-color: var(--dark-blue);
  padding-top: 40px;
}

.footer-dark .item {
  text-align: center;
  padding-bottom: 15px;
}

.footer-dark h3 {
  font-weight: bold;
  font-size: 24px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-dark ul a:hover {
  color: var(--text-color-light);
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--text-color-light);
  margin: 0 8px;
  color: var(--text-color-light);
  transition: transform 0.2s, color 0.2s, box-shadow 0.2s;
}

.footer-dark .item.social > a:hover {
  transform: translateY(-5px);
}

.footer-dark .facebook:hover {
  color: #4267B2!important;
  box-shadow: 0 0 0 1px #4267B2!important;
}

.footer-dark .twitter:hover {
  color: #1DA1F2!important;
  box-shadow: 0 0 0 1px #1DA1F2!important;
}

.footer-dark .instagram:hover {
  color: #E1306C!important;
  box-shadow: 0 0 0 1px #E1306C!important;
}

.footer-dark .youtube:hover {
  color: #FF0000!important;
  box-shadow: 0 0 0 1px #FF0000!important;
}

.footer-dark .soundcloud:hover {
  color: #ff7700!important;
  box-shadow: 0 0 0 1px #ff7700!important;
}

.footer-dark .spotify:hover {
  color: #1DB954!important;
  box-shadow: 0 0 0 1px #1DB954!important;
}

.footer-dark .copyright {
  color: var(--text-color-dark);
  font-size: 13px;
  margin: 15px 0 0 0;
}

.footer-logo {
  width: 50%;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .footer-logo {
    width: 100%;
  }
}

.language {
  border: solid;
}

.resize {
  border: solid;
  height: 39px;
  margin-left: 7px;
}

@media (min-width: 768px) {
  .resize {
    margin: 14px 7px 0px 7px;
  }
}

@media (min-width: 1200px) {
  .resize {
    margin: 0 0 0 10px;
  }
}

.resize > img {
  height: 100%;
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 20px;
  background-color: var(--very-dark-blue);
}

. {
}

