.video-parallax-container {
  height: calc(100vh - 74px);
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.video-parallax-container iframe {
  top: 50%;
  left: 50%;
  height: 110vh;
  width: 110%;
  z-index: -100;
  transform: translateX(-50%) translateY(calc(-50% + 37px));
  position: fixed;
  overflow: hidden;
}

.mobile-background {
  background-image: url("../../assets/img/hero_cover.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.hero-card {
  background-color: rgba(0,0,0,0.73)!important;
}

.hero-card .card-body {
  opacity: 0.8;
  width: 80vw;
  height: 60vh;
}

