/* sponsors */

#sponsors {
  margin: auto;
  width: calc(100% - 32px);
}

#sponsors > h1 {
  margin: 70px 0 10px 0;
}

#sponsors .owl-next:focus, .owl-prev:focus {
  outline: none;
}

#sponsors .owl-prev, .owl-next {
  display: block !important;
  width: 16px;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  font-size: 2em !important;
}

#sponsors .owl-prev {
  left: -20px;
}

#sponsors .owl-next {
  right: -20px;
}

#sponsors .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#sponsors img {
  height: auto;
  width: 75%;
  transition: width 0.2s ease-in-out;
}

#sponsors img:hover {
  width: 80%;
}

#sponsors .owl-nav {
  margin: 0;
}

