:root {
  --brand-color: #ffde1a;
  --brand-color-light: #ffea74;
  --very-dark: #181818;
  --light-gray: #f0f9ff;
  --dark-blue: #282d32;
  --very-dark-blue: #1f2328;
  --dark-1: #222;
  --text-color: #9ea5ab;
  --text-color-dark: #6c6e70;
  --text-color-light: #c9cacc;
}

main {
  padding-bottom: 20px;
}

.bg1 {
  background-color: var(--dark-1);
}

.page-heading {
  border-bottom-style: solid;
  border-bottom-color: var(--brand-color);
  margin: 30px 0;
}

.highlight {
  color: var(--brand-color);
  font-weight: bold;
}

.text {
  color: var(--text-color);
  word-spacing: 0.15em;
}

*:focus {
  box-shadow: none !important;
}

.btn-primary {
  color: black;
  background-color: var(--brand-color);
  border-color: var(--light-gray);
}

.large-icon {
  font-size: 2em !important;
  margin-right: 10px;
}

/* quote */

blockquote {
  font-family: Georgia, serif;
  position: relative;
  padding: 0.5em 3em 0.5em 3em;
}

@media (min-width: 768px) {
  .blockquote p {
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  .blockquote p {
    font-size: 2em;
  }
}

.blockquote p {
  font-size: 1em;
}

blockquote:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}

blockquote:after {
  font-family: Georgia, serif;
  position: absolute;
  float: right;
  font-size: 6em;
  line-height: 1;
  right: 0;
  bottom: -0.5em;
  content: "\201D";
}

figure {
  margin: 0 10vw 100px 10vw;
}

.blockquote-footer {
  font-size: 2em;
}

#nyt {
  font-family: 'Chomsky Regular';
}

.modal.fade .modal-dialog.modal-dialog-zoom {
  -webkit-transform: scale(.5);
  transform: scale(.5);
}

.modal.show .modal-dialog.modal-dialog-zoom {
  -webkit-transform: scale(1);
  transform: scale(1);
}

